---
---

@import "{{ site.theme }}";


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
  font-family: 'Lato', sans-serif;
}

/*
.wrapper {
  width: 1000px;
}

section {
  width: 650px;
}
*/

a {
  cursor: pointer;
  color: #2d7788;

  &:hover {
    cursor: pointer;
    font-weight: normal !important;
    text-decoration: underline solid #2d7788;
  }
}

#me {
  max-width:110px;
  //-webkit-border-radius:150px;
  //-moz-border-radius:150px;
  //border-radius:150px
}

.alink {
  > i {
    margin-right: 1em;
  }
}

.pub {
  li {
    padding-bottom: 1em;
  }

  .pt {
    font-weight: normal !important;
    color: #2d7788;
    cursor: pointer;
  
    &:after{
      content: "\a" !important;
      white-space: pre !important;
    }
  }
  
  .pa {
    font-style: italic;
    font-weight: 400;
    font-size: 0.9em;
    //color: #97AAC3;
    
    &:after{
      content: "\a" !important;
      white-space: pre !important;
    }
  }
  
  .pv {
    font-style: italic;
    font-weight: 300;
    font-size: 0.9em;
  }
  
  .paward {
    font-style: bold;
    font-size: 0.9em;
    &:before{
      content: "\a" !important;
      white-space: pre !important;
    }
  }
}