---
---

@import "{{ site.theme }}";

a {
  cursor: pointer;
  color: #2d7788;

  &:hover {
    cursor: pointer;
    font-weight: normal !important;
    text-decoration: underline solid #727272;
  }
}

#logo {
  max-width:110px;
  -webkit-border-radius:150px;
  -moz-border-radius:150px;
  border-radius:150px
}

.alink {
  > i {
    margin-right: 1em;
  }
}

.pub-title {
  font-weight: normal !important;
  color: #2d7788;
  cursor: pointer;

  &:after{
    content: "\a" !important;
    white-space: pre !important;
  }
}

.pub-authors {
  font-weight: 200;
  font-style: italic;
  color: #97AAC3;
  
  &:after{
    content: "\a" !important;
    white-space: pre !important;
  }
}

.pub-venue {
  font-style: normal !important;
  font-size: 0.9em;
}