---
---

@import "{{ site.theme }}";

a {
  cursor: pointer;
  color: #2d7788;

  &:hover {
    cursor: pointer;
    font-weight: normal !important;
    text-decoration: underline solid #2d7788;
  }
}

#me {
  max-width:110px;
  -webkit-border-radius:150px;
  -moz-border-radius:150px;
  border-radius:150px
}

.alink {
  > i {
    margin-right: 1em;
  }
}

.pt {
  font-weight: normal !important;
  color: #2d7788;
  cursor: pointer;

  &:after{
    content: "\a" !important;
    white-space: pre !important;
  }
}

.pa {
  font-weight: 200;
  font-style: normal;
  color: #97AAC3;
  
  &:after{
    content: "\a" !important;
    white-space: pre !important;
  }
}

.pv {
  font-style: italic !important;
  font-size: 0.9em;
}

.paward {
  font-style: bold !important;
  font-size: 0.9em;
}